@model Practical_Test_Application.Models.Clients

@{
    ViewData["Title"] = "Empty";
}

<h1>Empty</h1>

<h4>Clients</h4>
<hr />
<p> No Clients Found</p>

<div>
    <a asp-action="CreateClients">Back to List</a>
</div>

