@model IEnumerable<Practical_Test_Application.Models.Clients>

@{
    ViewData["Title"] = "Clients List";
}

<h1>Clients</h1>

<table class="table">
    <thead>
    <tr>
        <th>Client Code</th>
        <th>Full Name</th>
        <th>Contact</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var client in Model)
    {
        <tr>
            <td>@client.clientCode</td>
            <td>@client.fullName</td>
            <td>@client.contact</td>
        </tr>
    }
    </tbody>
</table>